<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>GOD Bearings</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="css/linearicons.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/themify-icons.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/nice-select.css">
	<link rel="stylesheet" href="css/nouislider.min.css">
	<link rel="stylesheet" href="css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/main.css">
	<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script> -->
<script type="text/javascript"
	src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
<script src="js/myapp.js"></script>
<script src="js/controller/indexController.js"></script>
</head>

<body data-ng-app="myApp" data-ng-controller="indexController">

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" height="50px" alt=""></a><h4>God Bearing</h4>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active" id = "homeLink"><a class="nav-link smooth-scroll" href="#home">Home</a></li>
							<li class="nav-item" id="aboutLink"><a class="nav-link smooth-scroll" href="#about">About Us</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Our Products	</a>
								<ul class="dropdown-menu">
									<!-- <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
									<li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
									<li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
									<li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
									<li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li> -->
									<li class="nav-item"><a class="nav-link" href="category.html">Bearings</a></li>
								</ul>
							</li>
							
							<li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<!-- <li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li> -->
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- start banner Area -->
	<section class="banner-area" id="home">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12 mt-5">
				<div class="row single-slide align-items-center mt-5 d-flex">
							<div class="col-lg-5 col-md-6">
								<div class="banner-content">
									<h1>GOD Bearing</h1>
									<p> <strong>G</strong>arud <strong>O</strong>verseas <strong>D</strong>istribution, Supplier and exporter of high
        quality bearings...</p>
									<div class="add-bag d-flex align-items-center">
										<a href="category.html" class="genric-btn primary">View Products</a>
									</div>
									
									<div class="add-bag d-flex align-items-center">
						<a class="add-btn" href="" style="transform: rotate(-45deg);" data-toggle="modal" data-target="#myModal">
						<span class="lnr lnr-camera-video"></span></a>
										<span class="add-text text-uppercase">Watch Video</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="img/banner/banner-img.png" alt="">
								</div>
							</div>
						</div>
				
				</div>
			</div>
		</div>
	</section>
	
	<!-- Start category Area -->
	<section class="category-area">
		<div class="container">
		<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title pt-5">
						<h1>Our Products</h1>
						<p>Find the Right Bearing at the Right Price.</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-12 col-md-12">
					<div class="row">
						<div class="col-lg-3 col-md-3" ng-repeat="p in products">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid w-100" src="{{p.defaultImage}}" alt="">
								<a href="{{'single-product.html?pid='+p.id}}">
									<div class="deal-details">
										<h3 class="deal-title text-white">{{p.productName}}</h3>
									</div>
								</a>
							</div>
						</div>
						
					</div>
				</div>
				
				</div>
			</div>
		</div>
	</section>
	<!-- End category Area -->

	

	<!-- Start exclusive deal Area -->
	<section class="exclusive-deal-area" id="about">
	<div style="width: 100%; height: 100px; background: white;"></div>
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-6 no-padding exclusive-left" style="padding: 50px 0">
					<div class="row clock_sec clockdiv" id="clockdiv">
						<div class="col-lg-12">
							<h1 class="mb-3">About Us</h1>
							 <p><b>GOD Bearing</b> specializes in manufacturing various high-quality bearings
          and related products committed to becoming the benchmark for international bearing companies.
          God provides an optimal solution with advanced & applicable technology, consistent & reliable
          bearing products, & professional & comprehensive services to customers.<br/><br/>
          The company has obtained ISO 9001 Quality management system certification and ISO 9001: 2015 Environmental
           Management System Certification.
        </p>
						</div>
						
					</div>
					<a href="" class="primary-btn">Contact Us</a>
				</div>
				<div class="col-lg-6 no-padding exclusive-right">
					<div class="active-exclusive-product-slider">
						<!-- single exclusive carousel -->
						<div class="single-exclusive-slider">
							<!-- <img class="img-fluid" src="img/product/e-p1.png" alt=""> -->
							<div class="product-details">
								<div class="price">
									<span class="lnr lnr-map-marker" style="font-size: 40px;"></span>
								</div>
								<h5>Indore Office</h5>
								<div class="add-bag d-flex align-items-center justify-content-center">
									<p>5/2, Maharani Road, Magnum Tower, Indore(M.P.), 452007, India</p>
								</div>
							</div>
						</div>
						<!-- single exclusive carousel -->
						<div class="single-exclusive-slider">
							<!-- <img class="img-fluid" src="img/product/e-p1.png" alt=""> -->
							<div class="product-details">
								<div class="price">
									<span class="lnr lnr-map-marker" style="font-size: 40px;"></span>
								</div>
								<h5>Delhi Office</h5>
								<div class="add-bag d-flex align-items-center justify-content-center">
									<p>2418, S.N. Marg, Behind G.B. Road, 1st floor, Delhi-110006, India</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End exclusive deal Area -->

	

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1 class="mt-5">Request a Quote</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9 mx-auto">
					<div class="row">
						 <div class="pt-4 w-100">
          <form>
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" ng-model="enq.name" class="form-control" id="name">
            </div>
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" ng-model="enq.email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="number">Contact Number:</label>
              <input type="number" class="form-control" ng-model="enq.contact" id="number">
            </div>
            <div class="row">
              <div class="col-sm-8"><div class="form-group">
                <label for="sel1">Enquiry For</label>
                <select class="form-control no-nice-select" ng-model="enq.enquiryFor"  id="sel1" style="display: block !important;">
                  <option value="Deep Groove Ball Bearing">	Deep Groove Ball Bearing		</option>
<option value="Tapered Roller Bearing">		Tapered Roller Bearing			</option>
<option value="Pillow Block Bearing">		Pillow Block Bearing			</option>
<option value="Spherical Roller Bearing">	Spherical Roller Bearing		</option>
<option value="Cylindrical Roller Bearing">	Cylindrical Roller Bearing		</option>
<option value="Thrust Ball Bearing">		Thrust Ball Bearing				</option>
<option value="Thrust Roller Bearing">		Thrust Roller Bearing			</option>
<option value="Slewing Bearing">			Slewing Bearing					</option>
<option value="Needle Bearing">				Needle Bearing					</option>
<option value="Angular Contact Bearing">	Angular Contact Bearing			</option>
<option value="Self-Aligning Ball Bearing">	Self-Aligning Ball Bearing		</option>
<option value="Linear-Motion Bearing">		Linear-Motion Bearing			</option>
                </select>
              </div></div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="qty">Quantity:</label>
                  <input type="number" ng-model="enq.qty" class="form-control" id="qty">
                </div>
              </div>
            </div>  
            <div class="form-group">
              <label for="comment">Comment:</label>
              <textarea class="form-control" ng-model="enq.comment" rows="5" id="comment"></textarea>
            </div>
            <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" ng-model="enq.subscriber"> Subscribe to our newsletter
              </label>
            </div>
            <button type="submit" class="btn btn-primary" ng-click="sendEnquiry()">Send Enquiry</button>
          </form>
        </div></div></div>
				
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About Us</h6>
						<p>
							<b>GOD Bearing</b> specializes in manufacturing various high-quality bearings
          and related products committed to becoming the benchmark for international bearing companies.
						</p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									 required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

									<!-- <div class="col-lg-4 col-md-4">
												<button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
											</div>  -->
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-2  col-md-6 col-sm-6">
					
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | God Bearing</a>



</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->
	
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body p-0">
      	<iframe width="100%" height="315"
src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
      </div>
      
    </div>

  </div>
</div>

	<script src="js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/nouislider.min.js"></script>
	<!-- <script src="js/countdown.js"></script> -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="js/gmaps.min.js"></script>
	<script src="js/main.js"></script>
	<script>
		$(document).ready(function(){
			  $("#sel1").css("display", "block");
				
		  $(".nice-select").css("display", "none");
		 // alert(window.location);
		 
		 var loc = window.location+'';
		 
		 if(loc.indexOf("#about") > 0 ){
			 $('#aboutLink').addClass('active');
       	  	$('#homeLink').removeClass('active');
		 }
		  
		});
		
		 
	</script>
</body>

</html>